{% extends 'base.html.twig' %}

{% block title %}France Meuble | Sous-catégorie{% endblock %}

{# {% block javascripts %}
 
  <script src="{{ asset("js/panier_fonctions.js") }}" type="text/javascript"></script>
{% endblock %} #}

{% block body %}

{# {% for data in products %}
    {{dump(data)}}
{% endfor %} #}
<div aria-label="breadcrumb">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{path('boutique_category_show', {'id': subcatData.categorie.id })}}">{{subcatData.categorie.nom|capitalize}}</a></li>
        <li class="breadcrumb-item active">{{subcatData.nom|capitalize}}</li>

    </ol>

</div>

<h1 class="text-center mb-5">{{subcatData.nom}}</h1>

    <div class="row justify-content-around ">
        {% for data in products %}
        <div class="col-3 card text-center row justify-content-around my-5 carte_subcategory nbproduits">
            
                <a href="{{path('details_produit', {'id' : data.id })}}"><div class="align-self-center col-7 mx-auto mt-2"><img src="{{ asset('img/photos/' ~ data.photo)}}" alt="{{data.nom}}" class="img-fluid img_soutcat" ></div></a><hr>
            <h5 class="mb-3 fw-bold fst-italic">{{data.nom|capitalize}}</h5>
            <div class="row justify-content-between  mx-auto mb-3"><p class="col-5 fw-bold text-danger prix_article">{{data.prix}}€00</p><button class="col-3 btn btn-primary p-0 btn_subcategory  produit" data-id="{{data.id}}" data-name="{{data.nom}}" data-price="{{data.prix}}" data-color="{{data.couleur}}" data-img="{{ asset('img/photos/' ~ data.photo)}}" title="Ajouter au panier"><i class="bi bi-cart-fill d-block"></i></button></div> 

        </div>    
        {% endfor %}
    </div>

{% endblock %}
