{% extends "base.html.twig" %}

{% block title %}
    France Meuble| Inscription
{% endblock %}

{% block body %}

<h1 class="text-center">Inscription</h1>
    {# {{dump(registrationForm.sex.vars.choices.0.value)}} #}

    {{form_start(registrationForm, {'attr': {'class': 'col-5  mx-auto my-5 bg-white form-inscription'}} ) }}

        <div class="col-3">

            {{form_row(registrationForm.sexe, {'attr': {'class': 'd-flex flex-row justify-content-between champsex'}} ) }}

        </div>

        <div class="col-12">
            {{form_row(registrationForm.nom)}}
            {{form_row(registrationForm.prenom)}}
            {{form_row(registrationForm.email)}}
            {{ form_row(registrationForm.password, {
            label: 'Password'
            }) }}
            {{form_row(registrationForm.ville) }}
            {{form_row(registrationForm.adresse)}}
        </div>
         <div class='d-flex flex-row justify-content-between coordonnees'>  

            <div class="col-6"> 
                {{form_row(registrationForm.codePostal) }}
            </div>     

            <div class='col-5'>
                {{form_row(registrationForm.telephone)}} 
            </div>
            
        </div>
    
        <div class='col-12'>
            {{form_row(registrationForm.avatar)}}            
        </div>

    <div class="mx-auto text-center">
        <button class="col-4 btn btn-dark text-white">Valider</button>
    </div>
    

    {{ form_row(registrationForm._token) }} 
    {# !!! Attention, Grégory a ajouté ce row dans le formulaire du dessus, il est probablement important pour le bon fonctionnement de l'inscription, il faudra effectuer des tests avec et sans #}


        {{form_end(registrationForm)}}
    </div>
</div>

{% endblock %}
