{% extends 'base.html.twig' %}

{% block title %}France Meuble | Categorie{% endblock %}

{% block body %}

<div aria-label="breadcrumb">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
        <li class="breadcrumb-item active">{{datacat.nom|capitalize}}</li>
    </ol>

</div>

<h1 class="text-center mb-5">{{datacat.nom}}</h1>
<div class="categories row justify-content-around align-items-center">

    {% for data in datacat.souscategories %}
    <div class="col-3 text-center card carte_categorie my-5">
       <h5 class="fw-bold fst-italic">{{data.nom|capitalize}}</h5>
        <div class="mb-3"><a href="{{path('boutique_subcategory_show', {'id': data.id})}}"><img src="{{ asset('img/photos/' ~ data.photo)}}" alt="" class="img-fluid"></a></div> 
    </div>
    {% endfor %}
</div>
{% endblock %}