{# //////////////////////////////////////// LISTE DES CATEGORIES ///////////////////////////////////////////////////////// #}

{# Ce template affiche uniquement la liste de toutes les catégories présentes en bdd. On s'en servira principalement dans les menus de navigation#}
{% for data in categories %}


    <div class="accordion accordion-flush" id="accordionFlush{{data.nom}}">

        <div class="accordion-item">

            <h2 class="accordion-header" id="flush-headingOne">

                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{data.nom}}" aria-expanded="false" aria-controls="flush-collapse{{data.nom}}">

                    {{data.nom}}
                    
                </button>

            </h2>

            <div id="flush-collapse{{data.nom}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush{{data.nom}}">

                <div class="accordion-body">
                
                    <ul class="p-2">

                        {% for data in data.souscategories %}

                            <li><a href="{{path('boutique_subcategory_show', {'id' : data.id })}}">{{data.nom}}</a></li>
                            
                        {% endfor %}


                    </ul>

                </div>

            </div>

        </div>

    </div>

{% endfor %}
