{% extends "base_admin.html.twig" %}

{% block title %}
    France Meuble | Gestion des Collections
{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">Liste des Collections</h1>
    {# {{dump(assortiment)}} #}

     {% for message in app.flashes('success') %}

        <div class="bg-success col-5 text-center text-white mx-auto my-4 p-3">{{message}}</div>
        
    {% endfor %}
    


    <table class="table table-striped text-center s" id="table-backoffice">
    <thead>
        <tr>
            {% for data in colonnes %}
            {# capitalize : filtre Twig permettant de mettre la 1ère lettre de la chaine de caractères en majuscule #}
                <th class="border border-1 border-dark">{{data|capitalize}}</th> 
            {% endfor %}
            <th class="border border-1 border-dark">Nb produits associés</th>
            <th class="border border-1 border-dark">Thème</th>
            <th class="border border-1 border-dark">Action</th>
        </tr>
    </thead>
    <tbody>

        {% for data in assortiment %}
            <tr>
                <td>{{data.id}}</td>
                <td>{{ data.nom}}</td>

                {% if data.photo != null %}
                    <td><img src="{{ asset('img/photos/' ~ data.photo)}}" alt="{{data.nom}}"></td>
                    {% else %}
                    <td class="text-danger">Aucune photo uploadée</td>
                {% endif %}

                
                {% if data.couleur is empty %}
                    <td class="text-danger fst-italic">Aucune couleur choisie</td>
                {% else %}
                    <td>{{ data.couleur}}</td>
                {% endif %}

                {% if data.produits|length != null %}

                    <td><p>{{data.produits|length}}</p></td>

                {% else %}

                    <td><p class="text-danger">Aucun produit associé</p></td>
                    
                {% endif %}

                {% if data.theme is empty %}
                    <td>test</td>
                {% else %}
                    <td>{{ data.theme.nom}}</td>
                {% endif %}

                <td>
                    <a href="#" onclick="return(confirm('Voulez-vous vraiment supprimmer l\'assortiment n° {{data.id}}?'));"><span > <i class="bi bi-trash"></i></span></a>
                    <a href="{{path('app_admin_assortiment_edit', {'id': data.id})}}"><span><i class="bi bi-caret-up-square"></i></span></a>
                    <a href="{{path('app_admin_assortiment_add')}}"><span><i class="bi bi-plus-square-fill"></i></span></a>
                </td>

            </tr>

        {% endfor %}
    </tbody>
    </table>


    
{% endblock %}