{% extends "base_admin.html.twig" %}

{% block title %}
    France Meuble | Ajout Produit
{% endblock %}

{% block body %}

    <h1 class="text-center my-5">
        {# Si editMode renvoie TRUE, cela veut dire que l'id possède un ID, c'est une modification #}
        {% if editMode %}
            Modification du produit
        {% else %}
            {# Sinon, l'article ne possède pas d'id, c'est une insertion #}
            Ajout de produit
        {% endif %}    
    </h1>

{{ form_start(productForm, {'attr':{'class':'col-5 mx-auto my-4'}}) }}

    {{ form_row(productForm.nom, {'attr':{'class':'form-control mb-4'}}) }}

    {{form_row(productForm.couleur, {'attr':{'class':'form-control mb-4'}})}}

    {{form_row(productForm.matiere, {'attr':{'class':'form-control mb-4'}})}}

    {{form_row(productForm.longueur, {'attr':{'class':'form-control mb-4'}})}}

    {{form_row(productForm.largeur, {'attr':{'class':'form-control mb-4'}})}}

    {{form_row(productForm.hauteur, {'attr':{'class':'form-control mb-4'}})}}

    {{form_row(productForm.profondeur, {'attr':{'class':'form-control mb-4'}})}}

    {{form_row(productForm.diametre, {'attr':{'class':'form-control mb-4'}})}}

    {{form_row(productForm.prix, {'attr':{'class':'form-control mb-4'}})}}

    {{form_row(productForm.stock, {'attr':{'class':'form-control mb-4'}})}}

    {{form_row(productForm.souscategorie, {'attr':{'class':'form-control mb-4'}})}}
    
    {{form_row(productForm.photo, {'attr':{'class':'form-control mb-4'}})}}

    {{form_row(productForm.assortiment, {'attr':{'class':'form-control mb-4'}})}}

    {% if photoActuelle %}
        <p>
            <em>Vous pouvez uploader une nouvelle photo si vous souhaitez la modifier</em>
            <img src="{{ asset('img/photos/' ~ photoActuelle)}}"  class="col-12 img-responsive">
        </p>

    {% endif %}

    <div class="text-center my-4">
    <button class="btn btn-dark text-white">Ajouter
    </button>
</div>

{{form_end(productForm)}}



{% endblock %}