{% extends "base_admin.html.twig" %}

{% block title %}
    France Meuble | Gestion des Assortiments
{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">Liste des Assortiments</h1>
    {{dump(assortiment)}}

     {% for message in app.flashes('success') %}

        <div class="bg-success col-5 text-center mx-auto my-4 p-3">{{message}}</div>
        
    {% endfor %}
    


    <table class="table table-striped text-center s" id="table-backoffice">
    <thead>
        <tr>
        {% for data in colonnes %}
        {# capitalize : filtre Twig permettant de mettre la 1ère lettre de la chaine de caractères en majuscule #}
            <th class="border border-1 border-dark">{{data|capitalize}}</th> 
        {% endfor %}
        <th class="border border-1 border-dark">Nb produits associés</th>
            <th class="border border-1 border-dark">Action</th>
        </tr>
    </thead>
    <tbody>

        {% for data in assortiment %}
            <tr>
                <td>{{data.id}}</td>
                <td>{{ data.nom}}</td>

                {% if data.photo != null %}
                    <td><img src="{{ asset('img/photos/' ~ data.photo)}}" alt="{{data.nom}}"></td>
                    {% else %}
                    <td class="text-danger">Aucune photo uploadée</td>
                {% endif %}

                    {% if data.produits|length != null %}

                        <td><p>{{data.produits|length}}</p></td>

                    {% else %}

                        <td><p class="text-danger">Aucun produit associé</p></td>
                        
                    {% endif %}

                <td>
                    <a href="#" onclick="return(confirm('Voulez-vous vraiment supprimmer l\'assortiment n° {{data.id}}?'));"><span > <i class="bi bi-trash"></i></span></a>
                    <a href="{{path('app_admin__assortiment_edit', {'id': data.id})}}"><span><i class="bi bi-caret-up-square"></i></span></a>
                </td>

            </tr>

        {% endfor %}
    </tbody>
    </table>


    
{% endblock %}