{% extends 'base_admin.html.twig' %}

{% block title %}France Meuble | Backoffice{% endblock %}

{% block body %}

    <h1 class="text-center my-5">Bienvenue dans votre Backoffice, nom prénom!</h1>

    <h4 class="text-center mb-5">vous êtes dans votre espace BackOffice</h4>

    <p class="text-center">Vous pouvez ici gérer la totalité de votre site.</p>

    <div class="row justify-content-around col-8 mx-auto my-3">

        <div class="col-3">

            <p class="btn btn-dark p-4 mx-2 my-2"><a href="{{path('app_admin_categories')}}" >Liste des Catégories</a></p>

            <p class="btn btn-dark p-4 mx-2 my-2"><a href="{{path('app_admin_category_add')}}" >Ajouter une catégorie</a></p>
        
        </div>

        <div class="col-3">

            <p class="btn btn-success p-4 mx-2 my-2"><a href="{{path('app_admin__subcategories')}}" >Liste des Sous-catégories</a></p>

            <p class="btn btn-success p-4 mx-2 my-2"><a href="{{path('app_admin__subcategories_add')}}" >Ajouter une sous-catégorie</a></p>

        </div>

        <div class="col-3">
            <p class="btn btn-warning p-4 mx-2 my-2"><a href="{{path('app_admin_products')}}" >Liste des produits</a></p>

            <p class="btn btn-warning p-4 mx-2 my-2"><a href="{{path('app_admin_product_add')}}" >Ajouter un produit</a></p>
        </div>


        <div class="col-3">
            <p class="btn btn-danger p-4 mx-2 my-2"><a href="{{path('app_admin__assortiments')}}" >Liste des collections</a></p>

            <p class="btn btn-danger p-4 mx-2 my-2"><a href="{{path('app_admin__assortiment_add')}}" >Ajouter une collection</a></p>
        </div>

        <div class="col-3">
            <p class="btn btn-info p-4 mx-2 my-2"><a href="{{path('app_admin_themes')}}" >Liste des thèmes</a></p>

            <p class="btn btn-info p-4 mx-2 my-2"><a href="{{path('app_admin_theme_add')}}" >Ajouter un thème</a></p>
        </div>

    </div>
{% endblock %}