{% extends 'base_admin.html.twig' %}

{% block title %}France Meuble | Backoffice{% endblock %}

{% block body %}

    <h1 class="text-center my-5">Bienvenue dans votre Backoffice, nom prénom!</h1>

    <h4 class="text-center mb-5">vous êtes dans votre espace BackOffice</h4>

    <p class="text-center">Vous pouvez ici gérer la totalité de votre site.</p>

    <div class="row justify-content-around col-8 mx-auto my-3">
        <p class="col-3 btn btn-dark p-3 mx-2 my-2"><a href="{{path('add_category')}}" class="text-white">Ajouter une catégorie</a></p>
        <p class="col-3 btn btn-dark p-3 mx-2 my-2"><a href="{{path('add_sub_category')}}" class="text-white">Ajouter une sous-catégorie</a></p>
        <p class="col-3 btn btn-dark p-3 mx-2 my-2"><a href="{{path('add_product')}}" class="text-white">Ajouter un produit</a></p>
        <p class="col-3 btn btn-dark p-3 mx-2 my-2"><a href="{{path('backoffice_categories')}}" class="text-white">Liste des Catégories</a></p>
        <p class="col-3 btn btn-dark p-3 mx-2 my-2"><a href="{{path('backoffice_subcategories')}}" class="text-white">Liste des Sous-catégories</a></p>
        <p class="col-3 btn btn-dark p-3 mx-2 my-2"><a href="{{path('backoffice_products')}}" class="text-white">Liste des produits</a></p>
    </div>
{% endblock %}