{% extends 'base.html.twig' %}

{% block title %}France Meuble | Details produit{% endblock %}

{% block body %}

    {# {{dump(dataProduit)}} #}
    <h1 class="text-center fst-italic my-4">{{dataProduit.nom}}</h1>

    <div class="d-flex column justify-content-around">

        <div class="border col-7 row p-4 justify-content-center">

            <div class="col-10 mb-2">
                
                <div id="main-slider" class="splide row justify-content-center align-items-center">

                    <div class="splide__track">
                        <ul class="splide__list">

                            <li class="splide__slide d-flex justify-content-around mx-auto">
                                
                                <img src="{{asset('img/photos/')~ dataProduit.photo}}"  alt="Photo {{dataProduit.nom}}" class="img-fluid">
                                
                            </li>
                            <li class="splide__slide d-flex justify-content-around mx-auto">
                                
                                <img src="{{asset('img/photos/')~ dataProduit.photo}}"  alt="Photo {{dataProduit.nom}}" class="img-fluid">
                                
                            </li>
                            
                        </ul>
                    </div>

                </div>
            
            </div> 

            <div class="splide" id="thumbnail-slider">

                <div class="splide__track">

                    <ul class="splide__list row justify-content-start">
                        
                        <li class="splide__slide thumb_slide  p-3">

                            <img src="{{asset('img/photos/')~ dataProduit.photo}}"  alt="Photo {{dataProduit.nom}}" class="img-fluid">
                            
                            
                        </li>
                        <li class="splide__slide thumb_slide  p-3">

                            <img src="{{asset('img/photos/')~ dataProduit.photo}}"  alt="Photo {{dataProduit.nom}}" class="img-fluid">
                            
                            
                        </li>
                           

                    </ul>

                </div>

            </div>
            
        </div>

        <div class="border bg-danger col-4">Caractéristiques
            <ul>
                <li>nom</li>
                <li>couleur</li>
                <li>dimensions</li>
                <li>prix</li>
            </ul>
            <p class="border bg-success">Ajouter au panier</p>
        </div>

        
    
    </div>

{% endblock %}
