{% extends 'base.html.twig' %}

{% block title %}France Meuble | Details produit{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script src="{{ asset("js/slide.js") }}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
{% endblock %}


{% block body %}
<div aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{{path('boutique_category_show', {'id': dataProduit.souscategorie.categorie.id})}}">{{dataProduit.souscategorie.categorie.nom|capitalize}}</a></li>
<li class="breadcrumb-item"><a href="{{path('boutique_subcategory_show', {'id': dataProduit.souscategorie.id})}}">{{dataProduit.souscategorie.nom|capitalize}}</a></li>
<li class="breadcrumb-item active">{{dataProduit.nom}}</li>
</ol>
</div>
    
    {# {% for data in alldata %}
        {{dump(data)}}
    {% endfor %} #}
    
    <h1 class="text-center fst-italic my-4">{{dataProduit.nom}}</h1>

    <div class="d-flex column justify-content-around align-items-center mb-4">

        <div class="border col-7 row p-4 justify-content-center">

            <div class="col-10 mb-2">
                
                <div id="main-slider" class="splide row justify-content-center">

                    <div class="splide__track">
                        <ul class="splide__list">

                            <li class="splide__slide d-flex justify-content-around mx-auto">
                                
                                <img src="{{asset('img/photos/')~ dataProduit.photo}}"  alt="Photo {{dataProduit.nom}}" class="img-fluid">
                                
                            </li>
                            <li class="splide__slide d-flex justify-content-around mx-auto">
                                
                                <img src="{{asset('img/photos/')~ dataProduit.photo2}}"  alt="Photo {{dataProduit.nom}}" class="img-fluid">
                                
                            </li>
                            
                        </ul>
                    </div>

                </div>
            
            </div> 

            <div class="splide" id="thumbnail-slider">

                <div class="splide__track">

                    <ul class="splide__list row justify-content-start">
                        
                        <li class="splide__slide thumb_slide  p-3">

                            <img src="{{asset('img/photos/')~ dataProduit.photo}}"  alt="Photo {{dataProduit.nom}}" class="img-fluid">
                            
                            
                        </li>

                        {% if dataProduit.photo2  is not empty %}

                            <li class="splide__slide thumb_slide  p-3">

                            <img src="{{asset('img/photos/')~ dataProduit.photo2}}"  alt="Photo {{dataProduit.nom}}" class="img-fluid">
                            
                            </li>

                        {% endif %}
                        
                    </ul>

                </div>

            </div>
            
        </div>

        <div class="border col-4 p-3">

            <div class="row justify-content-around">
                <h2 class="text-center fw-bold">{{dataProduit.prix}}€</h2> 
              
                <div class="text-justify fst-italic mb-2">

                    {{ (dataProduit.longueur)? "Longueur : #{dataProduit.longueur} cm"|nl2br : '' }}
                    {{ (dataProduit.largeur)? "\nLargeur : #{dataProduit.largeur} cm"|nl2br : '' }}
                    {{ (dataProduit.hauteur)? "\nHauteur : #{dataProduit.hauteur} cm"|nl2br : '' }} 
                    {{ (dataProduit.profondeur)? "\nProfondeur : #{dataProduit.profondeur} cm"|nl2br : '' }}
                    {{ (dataProduit.diametre)? "\nDiametre : #{dataProduit.diametre} cm"|nl2br : '' }} 
                
                </div>

            </div>
            
            <div>
                <p>Matière : {{dataProduit.matiere|capitalize}}</p>
                <p>Couleur: {{dataProduit.couleur|capitalize}}</p>

                <div class="border ">
                    {% for data in alldata %}
                        <a href="{{path('details_produit', {'id' : data.id })}}">{{data.couleur|capitalize}}</a>
                    {% endfor %}
                </div>

            </div>
            {% if dataProduit.etat is not empty %}

            <p>Réassort</p>
            {% else %}
                <div class="nbproduits">
                    <button class="col-3 btn btn-primary p-0 btn_subcategory  produit" data-id="{{dataProduit.id}}" data-name="{{dataProduit.nom}}" data-price="{{dataProduit.prix}}" data-color="{{dataProduit.couleur}}" data-img="{{ asset('img/photos/' ~ dataProduit.photo)}}" title="Ajouter au panier"><i class="bi bi-cart-fill d-block"></i></button>
                </div>
            {% endif %}
            
            
        </div>

        
    
    </div>

{% endblock %}
