{% extends 'base.html.twig' %}

{% block title %} France Meuble | Spécialiste de l'Ameublement{% endblock %} 
{% block javascripts %}
{{ parent() }}
    <script src="{{ asset("js/slide.js") }}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
{% endblock %}

{% block body %}

    {#////////////////////////////////////////////////// SLIDER CATEGORIES /////////////////////////////////////////////////#}

    {# {{dump(category)}} #}

    {# Le slider de la page d'index est lié à un fichier js et affiche en boucle toutes les catégories présentes en bdd via une boucle for #}

    <section class="categories my-4 mx-auto" >

        <h2 class="text-center">Catégories</h2>

        <div class="splide" id="card-slider">

            <div class="splide__track">

                <ul class="splide__list">

                    {% for data in category %}
                        
                        <li class="card col-3 mx-3 carte_categorie splide__slide" >

                            <article>

                                <a href="{{path('boutique_category_show', {'id': data.id}) }}"><img src="{{asset('img/photos/')~ data.photo}}" class="img-fluid" alt="image {{data.nom}}"></a>

                                <div class="card-body row justify-content-center p-2">

                                    <h5 class="card-title text-center">{{data.nom|capitalize}}</h5>

                                </div>

                            </article>

                        </li>

                    {% endfor %}

                </ul> 
            
            </div>

        </div>   
        
    </section>

{# ////////////////////////////////////////////// SECTION THEMES /////////////////////////////////////////////////////////// #}

{# L'affichage varie d'un thème à l'autre pour éviter la monotonie, on utilise pour ça l'attribut nth-child (even) #}

    <section class="row justify-content-start themes">

        <h2 class="text-center">Thèmes</h2>

        <div class="section_themes col-11">

            {% for data in theme %}

                <article class="row justify-content-start my-4">

                    <div class="col-5 collection p-0">
                        <a href="{{path('boutique_theme_show', {'id': data.id})}}"><img src="{{asset('img/photos/')~ data.photo}}" class="img-fluid" alt="image {{data.nom}}"></a>
                    </div>

                    <h3 class="col-6 mx-3 text-center fst-italic align-self-center">{{data.description}}</h3>

                </article>

            {% endfor %}
            
            {# <button class="text-center btn btn-success col-3 mx-auto">Voir toutes nos collections</button> #}
            
        </div>
        

    </section>

    <hr>
    
{# ////////////////////////////////////////////////////// SERVICES //////////////////////////////////////////////////// #}

    <section class="row justify-content-around services">

        <div class="col-3">

            <div class="text-center mb-2"><i class="bi bi-lock"></i></div>

            <h4 class="text-center">Paiement sécurisé</h4>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est cupiditate voluptatum quod id facilis architecto et ut corporis amet, soluta illo deleniti, accusantium sunt qui fugiat. Sequi voluptates repellendus consequuntur.</p>

        </div>

        <div class="col-3">

            <div class="text-center mb-2"><i class="bi bi-truck"></i></div>

            <h4 class="text-center">Livraison</h4>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est cupiditate voluptatum quod id facilis architecto et ut corporis amet, soluta illo deleniti, accusantium sunt qui fugiat. Sequi voluptates repellendus consequuntur.</p>

        </div>

        <div class="col-3">

            <div class="text-center mb-2"><i class="bi bi-screwdriver"></i></div>

            <h4 class="text-center">Montage (à confirmer)</h4>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est cupiditate voluptatum quod id facilis architecto et ut corporis amet, soluta illo deleniti, accusantium sunt qui fugiat. Sequi voluptates repellendus consequuntur.</p>

        </div>

    </section>

    <hr>


{% endblock %}

