{% extends 'base.html.twig' %}

{% block title %} France Meuble | Accueil{% endblock %} 
{% block javascripts %}
{{ parent() }}
    <script src="{{ asset("js/slide.js") }}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
{% endblock %}

{% block body %}

    <h2 class="text-center">Catégories</h2>
    {#/////////////////////////////////////// !!AJOUTER LES BONNES BALISES!! /////////////////////////////////////////////////#}

    <div class="categories  my-4 mx-auto" >
        <div class="splide" id="card-slider">
            <div class="splide__track">

                <ul class="splide__list">

                    {% for data in category %}
                        
                        <li class="card col-3 mx-3 carte_categorie splide__slide" >

                            <a href="{{path('boutique_category_show', {'id': data.id}) }}"><img src="{{asset('img/photos/')~ data.photo}}" class="img-fluid" alt="image {{data.nom}}"></a>

                            <div class="card-body  row justify-content-center p-2">

                                <h5 class="card-title text-center">{{data.nom|capitalize}}</h5>
                                {# <a href="{{path('boutique_category_show', {'id': data.id}) }}" class="btn btn-primary col-6">Découvrir !</a> #}

                            </div>

                        </li>
                    {% endfor %}

                </ul> 
            
            </div>
        </div>   
        
    </div>

    <h2 class="text-center">Collections</h2>
    <section class="row justify-content-start">
        <div class="section_collection col-11 ow justify-content-start">

            {% for data in theme %}

                <div class="row justify-content-start my-4">

                    <div class="col-5 collection p-0">
                        <a href="{{path('boutique_theme_show', {'id': data.id})}}"><img src="{{asset('img/photos/')~ data.photo}}" class="img-fluid" alt="image {{data.nom}}"></a>
                    </div>

                    <h3 class="col-6 mx-3 text-center fst-italic align-self-center">{{data.description}}</h3>

                </div>

            {% endfor %}
            
            {# <button class="text-center btn btn-success col-3 mx-auto">Voir toutes nos collections</button> #}
            
        </div>
        

    </section>

    <hr>
    
    <section class="row justify-content-around">

        <div class="col-3">
            <div class="text-center mb-2"><i class="bi bi-lock"></i></div>
            <h4 class="text-center">Paiement sécurisé</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est cupiditate voluptatum quod id facilis architecto et ut corporis amet, soluta illo deleniti, accusantium sunt qui fugiat. Sequi voluptates repellendus consequuntur.</p>
        </div>

        <div class="col-3">
            <div class="text-center mb-2"><i class="bi bi-truck"></i></i></div>
            <h4 class="text-center">Livraison</h4
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est cupiditate voluptatum quod id facilis architecto et ut corporis amet, soluta illo deleniti, accusantium sunt qui fugiat. Sequi voluptates repellendus consequuntur.</p>
        </div>

        <div class="col-3">
            <div class="text-center mb-2"><i class="bi bi-screwdriver"></i></i></div>
            <h4 class="text-center">Montage et installation (à confirmer)</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est cupiditate voluptatum quod id facilis architecto et ut corporis amet, soluta illo deleniti, accusantium sunt qui fugiat. Sequi voluptates repellendus consequuntur.</p>
        </div>
    </section>
    <hr>


{% endblock %}

