{% extends "base.html.twig" %}

{% block title %}
    France Meuble | Theme
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset("js/slide.js") }}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>

{% endblock %}

{% block body %}

{# Le breadcrumb ici sera conditionné par les données présentes dans l'URL. Si la valeur de l'indice subcat correspond au nom de la sous-catégorie, on affichera un breadcrumb adapté en conséquence. Il y a probablement une manière plus simple de procéder mais pour le moment this will do #}

    {% if app.request.query.get('subcat') %}

            <div aria-label="breadcrumb">

            <ol class="breadcrumb">

                <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
                <li class="breadcrumb-item"><a href="{{path('boutique_theme_show',{'id': themeData.id })}}">{{themeData.nom|capitalize}}</a></li>

            {% for tab in subcatTab %}

                {% for data in tab %}

                    {% if app.request.query.get('subcat') == data.nom %}

                        <li class="breadcrumb-item active">{{data.nom|capitalize}}</li> 

                    {% endif %}
                
                {% endfor %}

            {% endfor %}

            </ol>

        </div>
    
    {% elseif app.request.query.get('assort') %}

        <div aria-label="breadcrumb">

            <ol class="breadcrumb">

                <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>

                <li class="breadcrumb-item"><a href="{{path('boutique_theme_show',{'id': themeData.id })}}">{{themeData.nom|capitalize}}</a></li>

                {% for data in assortimenTab %}

                    {% if data.id == app.request.query.get('assort') %}

                        <li class="breadcrumb-item active">{{data.nom|capitalize}}</li>

                    {% endif %}
                    
                {% endfor %}

            </ol>

        </div>

    {% else %}

        <div aria-label="breadcrumb">

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
                <li class="breadcrumb-item active">{{themeData.nom|capitalize}}</li>
            </ol>

        </div>

    {% endif %}

    {# {{dump(app.request.query.get('subcat'))}} #}

    {# ////////////////////////////////////// AFFICHAGE SOUS-CATEGORIE DE THEME //////////////////////////////////////////// #}

    {# 
        Nous avons mis en place dans le ThemeController une méthode qui permet d'afficher sur le template theme_show de base toutes les catégories contenant un ou plusieurs produits ayant un thème précis. Lorsque l'on clique sur l'une de ces catégories, un indice subcat est transmit à l'URL. La valeur de cet indice correspond au nom d'une sous-catégorie précise. Cela nous permettra de filtrer dans l'array produitData tous les produits ayant un thème précis et une sous catégorie précise (par exemple toutes les chaises sur le thème de la chine).  
    #}

    {% if app.request.query.get('subcat') %}
    
        <div class="row justify-content-around ">

            {% for data in produitData %}

                {% if app.request.query.get('subcat') == data.souscategorie.nom %}
                    
                    <div class="col-3 card text-center row justify-content-around my-5 carte_subcategory">
            
                        <a href="{{path('details_produit', {'id' : data.id })}}">

                            <div class="align-self-center col-7 mx-auto mt-2"><img src="{{ asset('img/photos/' ~ data.photo)}}" alt="{{data.nom}}" class="img-fluid img_soutcat" ></div>

                        </a><hr>
                        
                        <h5 class="mb-3 fw-bold fst-italic">{{data.nom|capitalize}}</h5>

                    </div>    

                {% endif %}

            {% endfor %}

        </div>


    {# ////////////////////////////////////// AFFICHAGE ASSORTIMENT //////////////////////////////////////////// #}

    {# Dans le cas où l'indice transmis à l'URL est 'assort', on affichera la collection ayant un id identique à la valeur que contient l'indice assort. Ainsi, lorsque l'on clique sur une collection, le template affichera tous les détails de la collection en question. Nous pouvons accéder à la liste des produits associés à un assortiment précis via l'array assortimenTab mis en place dans le ThemeController. On affiche ainsi sur le template les détails d'un assortiment ainsi que tous les produits qui le composent #}

    {% elseif app.request.query.get('assort') %}

        {% for data in assortimenTab %}

            {% if app.request.query.get('assort') == data.id %}

                {# {{dump(data)}} #}
                <h1 class="text-center fst-italic">{{data.nom}}</h1>

                <div class="col-8 mx-auto my-3">

                    <img src="{{asset('img/photos/')~ data.photo}}" alt="" class="img-fluid">

                </div>

            {% endif %}

        {% endfor %}

        <h2 class="text-center fst-italic">Produits associés</h2>

        {% for data in assortimenTab %}

            <div class="row justify-content-start ">

                {% for data2 in data.produits %}
                        {# {{dump(data)}} #}

                    {% if app.request.query.get('assort') == data.id %} 

                        {# {{dump(data2)}} #}

                        <div class="col-2 card text-center row justify-content-around mx-2 my-5 carte_subcategory">
            
                            <a href="{{path('details_produit', {'id' : data2.id })}}">

                                <div class="align-self-center col-7 mx-auto mt-2"><img src="{{ asset('img/photos/' ~ data2.photo)}}" alt="{{data2.nom}}" class="img-fluid img_soutcat" ></div>
                                
                            </a><hr>

                            <h6 class="mb-3 fw-bold fst-italic">{{data2.nom|capitalize}}</h6>

                        </div>   

                    {% endif %}

                {% endfor %}

            </div>

        {% endfor %}

    {% else %}

    {# //////////////////////////////////////////////////// AFFICHAGE DE BASE/////////////////////////////////////////////// #}

    {# Si rien n'est transmis à l'URL le template affichera toutes les collections liées au thème sur lequel on se trouve ainsi que toutes les sous-catégories liées à ce thème. On peut envisager à la place des sous-catégories un affichage des catégories. #}

        <h1>Theme {{themeData.nom}}</h1>

        <div class="categories  my-4 mx-auto" >

            <div class="splide" id="assortiment-slider">

                <div class="splide__track">

                    <ul class="splide__list">

                        {% for data in assortimenTab %}
                            
                            <li class="card col-3 mx-3 carte_categorie splide__slide" >

                                <a href="?assort={{data.id}}"><img src="{{asset('img/photos/')~ data.photo}}" class="img-fluid" alt="image {{data.nom}}"></a>

                                <div class="card-body  row justify-content-center p-2">

                                    <h5 class="card-title text-center fst-italic">{{data.nom|capitalize}}</h5>
                                
                                </div>

                            </li>

                        {% endfor %}

                    </ul> 
                
                </div>

            </div>   
            
        </div>

        <div class="row justify-content-around align-items-center">

            {% for tab in subcatTab %}

                {% for data in tab %}

                    <div class="col-2 text-center card my-5">
                        
                        <div class="mb-3">
                        
                            <a href="?subcat={{data.nom}}"><img src="{{ asset('img/photos/' ~ data.photo)}}" alt="" class="img-fluid"></a>
                        
                        </div> 

                        <h5 class="fw-bold fst-italic">{{data.nom|capitalize}}</h5> 

                    </div>

                {% endfor %}

            {% endfor %}
            
        </div>

    {% endif %}

{% endblock %}